<section id="features"> 
    <div class="container mt-5 py-5 text-center">
        <h3>Our Signature Meals!</h3>
        <hr>
        <p>These meals are made to perfection from our top chefs!</p>
    </div>
    <div class="row container-fluid mx-auto">
        <div class="products text-center col-lg-3 col-12 col-md-4">
            <img class="mb-3" height="350" width="300" src="../assets/images/lump-crab-cakes.jpg" alt="">
            <div class="starr">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h5 class="p-name">Red Snapper</h5>
            <h4 class="p-price">Price:</h4>
            <button class="buy-bt">Buy Now!</button>
        </div>
        <div class="products text-center col-lg-3 col-12 col-md-4">
            <img class="mb-3" height="350" width="300" src="../assets/images/redSnapper.jpg" alt="">
            <div class="starr">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h5 class="p-name">Red Snapper</h5>
            <h4 class="p-price">Price:</h4>
            <button class="buy-bt">Buy Now!</button>
        </div>
        <div class="products text-center col-lg-3 col-12 col-md-4">
            <img class="mb-3" height="350" width="300" src="../assets/images/TomahawkSteak.jpg" alt="">
            <div class="starr">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h5 class="p-name">Red Snapper</h5>
            <h4 class="p-price">Price:</h4>
            <button class="buy-bt">Buy Now!</button>
        </div>
        <div class="products text-center col-lg-3 col-12 col-md-4">
            <img class="mb-3" height="350" width="300" src="../assets/images/AvacadoToast.jpg" alt="">
            <div class="starr">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h5 class="p-name">Red Snapper</h5>
            <h4 class="p-price">Price:</h4>
            <button class="buy-bt">Buy Now!</button>
        </div>
    </div>
</section>
<!-- Banner -->
<section class="banner mt-5 mb-5" style="background: url('../assets/images/AvacadoLunch.jpg'); background-attachment: fixed;">
    <div class="container">
        <h4>Sales!</h4>
        <br>
        <h1>Check out these heathly meals!<br>Up to 20% off!</h1>
        <button class="text-uppercase">Shop Now!</button>
    </div>
</section>
<app-footer></app-footer>