<!-- <form class="pt-2 register-form " [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="email" name="email" class="form-control" id="email"placeholder="">
               <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">An Email is required!</span>
    </div>
    <div class="form-group">
        <label for="password">New Password</label>
        <input formControlName="password" type="password" name="password"  class="form-control"
               id="password" placeholder="">
               <span *ngIf="registerForm.get('password').errors && registerForm.get('password').dirty">Passwords words do not match!</span>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" name="confirmPassword"  class="form-control"
               id="confirmPassword" placeholder="">	  
    </div>
    <button type="submit" class="btn btn-primary form-control">Register <i class="fas fa-sign-in-alt"></i></button>
</form> -->
<h1>This page is working!</h1>