<footer class="mt-5 py-5">
    <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <img src="../assets/images/Foodlogo2.jpg" height="50rem" alt="put a logo here">
            <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus totam alias deserunt quod deleniti nesciunt modi natus earum tempore voluptatibus?</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Featured Types of Food</h5>
            <ul class="text-uppercase list-unstyled">
                <li><a href="">Poultry</a></li>
                <li><a href="">Seafood</a></li>
                <li><a href="">Vegan</a></li>
                <li><a href="">Keto Diet</a></li>
                <li><a href="">Low Carb Meals</a></li>
                <li><a href="">Nutritious Meals</a></li>
            </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Contact Us</h5>
            <div>
                <h6 class="text-uppercase">Address</h6>
                <p>1989 Brooklyn Ave</p>
                <p>Brooklyn, NY 11233</p>
            </div>
            <div>
                <h6 class="text-uppercase">Phone</h6>
                <p>(718)444-6666</p>
            </div>
            <div>
                <h6 class="text-uppercase">Email</h6>
                <p>Normand@isTheMan.com</p>
            </div>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Instagram</h5>
            <div class="row">
                <img class="img-fluid w-25 h-100 m-2" src="../assets/images/keto1.jpg" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="../assets/images/GrilledShrimp.jpg" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="../assets/images/Avacado&barley.jpg" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="../assets/images/GrilledSalmon.jpg" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="../assets/images/GrilledLobster.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="copyright mt-5">
        <div class="row container mx-auto">
            <div class="col-lg-3 col-md-6 col-12">
                <img class="img-fluid w-30 h-50 m-2" src="../assets/images/payment.jpg" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-12">
               <p>SunStarrs &copy; 2021 All Rights Reserved</p>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <a><i class="fa fa-facebook"></i></a>
                <a><i class="fa fa-instagram"></i></a>
                <a><i class="fa fa-twitter"></i></a>
                <a><i class="fa fa-whatsapp"></i></a>
                <a><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
