.product-cart{
    margin-top: 3rem;
}
.banner{
    font-size: 1.2rem;
    padding: 1rem;
    background-color: chartreuse;
}
.cart-collection{
    margin-top: 0rem;
}
.cart-items form{
    display: grid;
    grid-template-columns: 100%;
    border: 1px solid #efefef;
    margin-bottom: 1.2rem;
    border-radius: 7px 7px 0px 0px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2),
    inset -2px -2px -2px goldenrod;
}
.cart-product{
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 0rem 1.3rem;
    padding: 1rem 1rem;
    // border-bottom: 1px solid goldenrod;
}
.cart-image{
    height: 100px;
    width: 150px;
    border-radius: 7px;
    background-size: cover;
    background-repeat: no-repeat; 
}
.cart-quantity-md,
.cart-unit-price,
.cart-product-total{
    display: none;
}
.cart-controls-sm{
    padding-top: .8rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem .8rem;
 
}
.remove{
    font-weight: bold;
    text-transform: capitalize;
}
.cart-quantity-controls-sm{
    display: flex;
}
.cart-quantity-controls-sm input,
.cart-quantity-controls-sm button,
.cart-quantity-controls span,
.cart-quantity-controls button{
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: .3em;
}
.cart-quantity-controls-sm button,
.cart-quantity-controls button{
    background-color: goldenrod;
    border-radius: 10%;

}
.product-name{
    margin-bottom: .3rem;
}
.cart-price{
    color: goldenrod;
    font-weight: bold;
    margin-bottom: 3;
}  
.cart-product-info,
.cart-product-info h3,
.cart-product-info div{
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 2rem;
}
.cart-product-info p{
    font-style: italic;
    font-weight: 100;
    margin-left: 2rem;
}

.cart-total-hold{
    margin-top: 2rem;
  
} 
.cart-total{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.cart-total p{
    font-weight: bold;
}
.cart-action-button a{
    display: block;
    text-align: center;
    padding: .7rem;
    margin-bottom: .5rem;
} 
.cart-action-button{
    display: flex;
    flex-direction: column;
}

.cart-action-button a:first-child{
    order: 1;
    background: #333;
    color: #fff;
}
.cart-action-button a{
    order: 1;
    background: goldenrod;
    color: #fff;
}
.cart-header{
    display: none;
}

@media only screen and (min-width: 998px){
    .wrapper.full-screen{
        padding: 0rem;
    }
    .cart-quantity-md,
    .cart-unit-price,
    .cart-product-total{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14%;
        
    }
    .cart-product{
        border: none;
        flex: 1;
        align-items: center;
      
    }
    .remove{
        margin-right: 2.5rem;
    }
    // .cart-product-info p{
    //    font-style: italic;
    // }
    .product-cart{
        margin-top: 0rem;
    }

    .cart-item form:first-child{
        border-top: 1px solid goldenrod;
    }

    .cart-items form{
        box-shadow: none;
        border: none;
        display: flex;
        border-bottom: 1px solid goldenrod;
    }
    .cart-quantity-controls-sm{
        display: none;
    }
    .cart-collection{
        margin-top: 1rem;
    }
    .cart-header{
        width: 100%;
        display: flex;
        padding: 1rem 0rem;
    }
    .cart-header p{
        font-weight: bold;
        color:goldenrod;
        width: 12%;
        text-align: center;
    }
    .cart-header p:first-child{
        width: auto;
        flex: 1;
        text-align: left;
    }
    .cart-total,
    .cart-action-button{
        justify-content: flex-end;
        flex-direction: row;
    }
    .cart-total p:first-child{
        margin-right: 1rem;
    }
    .cart-action-button a:first-child{
       margin-right: 1.2rem;
       order: 0;
    }
    .cart-action-button a{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .cart-collection{
        padding-bottom: 2rem;
    }

}