
<div class="container-fluid" style="height: 100vh; width: 100%; background: url('../assets/images/bigstockAvacado.jpeg');">
	<div class="content">
		<header>Welcome to SunStarrs</header>
		<h3 class="ptag">where your meals come true!</h3>
		<form class="action">
			<div class="field">
				<span class="fa fa-user"></span>
				<input type="text" placeholder="Email">
			</div>
			<div class="field space">
				<span class="fa fa-lock"></span>
				<input type="password" placeholder="Password">
			</div>
			<div class="pass">
				<a href="">Forgot Password</a>
			</div>
			<div class="Login">
				<button class="btn btn-primary form-control">Login</button>
			</div>
		</form>
	</div>
</div>

