
.container-fluid{
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.content{
    position: absolute;
    border-radius: 25px;
    top: 25%;
    left:20%;
    transform: translateX(-50%,-50%);
    text-align: center;
    z-index: 999;
    width: 390px;
   
    text-align: center;
    padding: 70px 32px;
    background:rgba(255,255,0,0.4); 
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.7);
}
@media (min-width:576px) {

    .container-fluid{
        overflow: hidden;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: relative;
    }
}
.ptag{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:forestgreen;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: .1rem .1rem .8rem black;
}
.content header{
    color: gold;
    text-shadow: .1rem .1rem .8rem black;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0 0 35px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field .loge{
    color: black;
    align-items: center;
    text-align: center;
    display: flex;
}

.field .logp{
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}
.field{
    position: relative;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    display: flex;
    background:rgba(255,255,0,0.94); 
}
.pass{
    text-align: left;
    margin:10px 0;
}
.pass:hover a{
    text-decoration: underline;
}
.pass a{
    color: royalblue;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    
}

// .Login{
    
//     color: white;
//     letter-spacing: 1px;
//     font-size: 18px;
//     font-weight: 600;
//     cursor: pointer;
// }


.field input{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.space{
    margin-top: 16px;
}


