
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,.6) !important;
}

.navbar-toggler{
    outline: none;
    border: none;   
}

nav span i{
    color: white;
    font-size: 1.5rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3 ease
}

nav span i:active{
    color:black
}
nav span i:hover{
    color:black  
}

@media only screen and (max-width:991px){
    button:hover:hover,
    button:active,
    button:focus{
        background-color:gold;

    }
    .nav-link{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

}
   


.container-fluid{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

ul{
    font-size: 16px; 
}

ul li a{
 color: gold;
 transition: 0.3 ease;
 padding: 0 20px;
}

ul li a i{
    font-size: 1.2rem;
}

ul li a:hover,
ul li a:active{
 color: blue;
}


