
<div class="container mt-5 pt-5">
    <div class="row">
        <section class="col-3 py-1">
            <ng-container>
            <h5 class="text-warning ml-5 mt-3 mb-3">Sort</h5>
            <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
              <option *ngFor="let item of sortOptions"
              [value]="item.value">
              {{item.name}}
              </option>   
            </select>
              <br>
              <h5 class="text-warning ml-5">Categories</h5>
              <ul class="list-group my-3 d-flex">
                <li class="list-group-item" 
                *ngFor="let item of category"
                [class.active]="item.catId === this.sunParams.catId"
                [value]="item.catId"
                (click)="onCatSelected(item.catId)">
                  {{item.name}}
                </li> 
              </ul>
              <br>
              <h5 class="text-warning ml-5">Car Brands</h5>
              <ul class="list-group my-3 d-flex">
                <li class="list-group-item" 
                *ngFor="let item of brands"
                [class.active]="item.brandId === this.sunParams.brandId"
                [value]="item.brandId"
                (click)="onBrandSelected(item.brandId)">
                  {{item.name}}
                </li> 
              </ul>
            </ng-container>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center py-5">
              <header>
                <span>Showing <strong>{{(this.sunParams.pageNumber-1)*this.sunParams.pageSize+1}}-
                  {{this.sunParams.pageNumber * this.sunParams.pageSize 
                    > this.sunParams.TotalItems 
                    ? this.sunParams.TotalItems 
                    : this.sunParams.pageNumber * this.sunParams.pageSize}}
                  </strong> of <strong>{{this.sunParams.TotalItems}}</strong> Results</span>
              </header>
                <div class="form-inline mt-2">
                    <input  class="form-control" #Search style="width: 300px;" placeholder="Search" type="text">
                    <button (click)="onSearch()" class="btn btn-outline-primary mr-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success ml-2">Reset</button>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-md-4 mb-4" *ngFor="let Prod of products">
                  <app-cards [product]="Prod">
                  </app-cards>
                </div>    
            </div>
            <div class="d-flex justify-content-center" *ngIf="p">
              <pagination 
              [boundaryLinks]="true" 
              [totalItems]="p.TotalItems"
              [itemsPerPage]="p.ItemsPerPage"
              [(ngModel)]="p.CurrentPage"
              (pageChanged)="pageChanged($event)"
              previousText="Back" 
              nextText="Next" 
              firstText="First" 
              lastText="Last">
              </pagination>
              <!-- <pagination 
              [boundaryLinks]="true" 
              [totalItems]="this.TotalItems"
              (pageChanged)="pageChanged($event)"
              [itemsPerPage]="this.shopParams.pageSize"
              previousText="Back" 
              nextText="Next" 
              firstText="First" 
              lastText="Last">
              </pagination> -->
            </div>
        </section>
    </div>
  </div>
  <app-footer></app-footer>
    
  
