<div class="container col-sm-4 col-lg-12 col-md-6" style=" background-size: cover; height: 100vh; width: 100%; background: url('../assets/images/bigstockAvacado.jpeg');">
	<div class="content">
		<header>Forgot your Password?<hr>Whats your Email?</header>
		<h3 class="ptag">where your meals come true!</h3>
		<form class="action" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
			<div class="field">
				<span class="fa fa-user"></span>
				<input formControlName="email" type="text" placeholder="Email">
				<span class="loge" *ngIf="forgotForm.get('email').errors && forgotForm.get('email').touched">Email is required!</span>
			</div>
			<div class="Login">
				<button  class="btn btn-primary form-control"> Submit </button>
			</div>
		</form>
	</div>
</div>
