<div class="py-5 my-5 container">
    <p>search works!</p>
    <form class="d-flex searchBar">
        <input  class="form-control me-2" [(ngModel)]="term" name="term" type="search" placeholder="Search" aria-label="Search">
        <button routerLink="/search" class=" btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <span *ngIf="">What your looking for does not exist!</span>
    <ul class="list-group pt-1" *ngIf="term">
        <div *ngFor="let item of Products | filter : term ">
            <a class="list-group-item" routerLink="/products/{{item.productId}}" aria-current="true">
                {{item?.name}}
            </a>
        </div>
    </ul>
</div>

