
    <div class="pt-5" style=" background-size: cover; height: 100vh; width: 100%; background-image:url('../assets/images/TigerShrimp.jpg') ">
        <section id="home">
            <div class="container pt-5 homeagain">
                <h5 class="pt-5">Welcome</h5>
                <h1><span>SunStarrs</span> Offer the best prices!</h1>
                <p>From A to Z!</p>
                <button>Shop Now!</button>
            </div>
        </section>
    </div>
    <section class="brand py-5 container-fluid pr-5 pl-5 m-0">
        <div class="row">
            <img class="img-fluid col-lg-2 col-md-4 col-6" src="../assets/images/logo1.jpg" alt="" height="100px" width="100px">
            <img class="img-fluid col-lg-2 col-md-4 col-6" src="../assets/images/logo2.jpg" alt="" height="100px" width="100px">
            <img class="img-fluid col-lg-2 col-md-4 col-6" src="../assets/images/logo3.jpg" alt="" height="100px" width="100px">
            <img class="img-fluid col-lg-2 col-md-4 col-6" src="../assets/images/logo4.png" alt="" height="100px" width="100px">
            <img class="img-fluid col-lg-2 col-md-4 col-6" src="../assets/images/logo5.png" alt="" height="100px" width="100px">
            <img class="img-fluid col-lg-2 col-md-4 col-6" src="../assets/images/logo6.jpg" alt="" height="100px" width="100px">
        </div>
    </section>
    <section class="w-100 new">
        <div class="row p-0 m-0">
            <div class="one col-lg-4 col-md-12 col-12 p-0">
                <img class="img-fluid" src="../assets/images/keto1.jpg" alt="">
                <div class="details">
                    <h1>Breakfast!</h1>
                    <button class="but text-uppercase">Buy Now!</button>
                </div>
            </div>
            <div class="one col-lg-4 col-md-12 col-12 p-0">
                <img class="img-fluid" src="../assets/images/stirfried1.jpg" alt="">
                <div class="details">
                    <h1>Lunch!</h1>
                    <button class="but text-uppercase">Buy Now!</button>
                </div>
            </div>
            <div class="one col-lg-4 col-md-12 col-12 p-0">
                <img class="img-fluid" src="../assets/images/healthy1.jpg" alt="">
                <div class="details">
                    <h1>Dinner!</h1>
                    <button class="but text-uppercase">Buy Now!</button>
                </div>
            </div>
        </div>
    </section>
    <app-home-features></app-home-features>




